@font-face {
  font-family: "Metropolis Black";
  src: url("/metropolis-black-webfont.woff2") format("woff2"),
    url("/metropolis-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Light";
  src: url("/metropolis-light-webfont.woff2") format("woff2"),
    url("/metropolis-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Medium";
  src: url("/metropolis-medium-webfont.woff2") format("woff2"),
    url("/metropolis-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Regular";
  src: url("/metropolis-regular-webfont.woff2") format("woff2"),
    url("/metropolis-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Metropolis Semibold";
  src: url("/metropolis-semibold-webfont.woff2") format("woff2"),
    url("/metropolis-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  line-height: 1.3; /* Overide normalize */
}

body {
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* ------------------------- */

.section {
  min-height: 100vh;
  padding: 70px;
  position: relative;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.sidebar .scene {
  width: 35%;
  height: 60px;
}

.carousel {
  z-index: -1;
  width: 35%;
  height: 75px;
  position: absolute;
  transform: translateZ(-110px);
  transform-style: preserve-3d;
  transition: transform 1s;
  opacity: 1;
  font-family: "Metropolis Semibold";
}

.carousel.visible {
  opacity: 1;
}

.carousel-cell {
  position: absolute;
  width: 430px;
  height: 80px;
  top: 0px;
  opacity: 0;
  line-height: 80px;
  font-size: 45px;
  color: #e54e40;
  text-align: left;
  transition: opacity 1s;
  animation-name: fadeIn;
  overflow-wrap: break-word;
}

.carousel-cell.visible {
  opacity: 1;
}

.carousel-cell:nth-child(1) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(2) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(3) {
  background: hsla(0, 0%, 100%, 1);
}
.carousel-cell:nth-child(4) {
  background: hsla(0, 0%, 100%, 1);
}

.carousel-cell:nth-child(1) {
  transform: rotateX(0deg) translateZ(38px);
}
.carousel-cell:nth-child(2) {
  transform: rotateX(90deg) translateZ(38px);
}
.carousel-cell:nth-child(3) {
  transform: rotateX(180deg) translateZ(38px);
}
.carousel-cell:nth-child(4) {
  transform: rotateX(270deg) translateZ(38px);
}

.carousel-options {
  text-align: center;
  position: relative;
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.8);
}

.sidebar {
  position: fixed;
  background: #ffffff;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 505px;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.075);
  z-index: 2;
  transform: translateX(0);
  transition: transform 0.5s;
}

.collapsed .sidebar {
  transform: translateX(-435px);
}

.sidebar .top {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 70px;
  position: absolute;
  right: 70px;
  top: 0;
}

.sidebar .title {
  display: flex;
  flex-direction: column;
  font-family: "Metropolis Light", sans-serif;
  font-size: 45px;
}

.sidebar .title .name {
  color: #505050;
}

.sidebar .title .role {
  color: #e54e40;
}

.sidebar .title .underscore {
  max-width: 100px;
  min-width: 100px;
  border-bottom: 3px solid #e54e40;
  padding-top: 60px;
}

.portfolio-button-wrapper {
  bottom: 70px;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
  padding-top: 40px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition: box-shadow 0.25s;
  transition: transform 0.05s;
}

.portfolio-button {
  align-items: center;
  background-color: #ffffff;
  color: #e54e40;
  border: 3px solid #e54e40;
  padding: 2px 10px;
  display: flex;
  cursor: pointer;
  user-select: none;
  transition: all 250ms;
}

.portfolio-button-wrapper:hover,
.portfolio-button-wrapperfocus,
.portfolio-button-wrapperactive {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-in-out, ease-in-out;
  animation-timing-function: ease-in-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: alternate, alternate;
  animation-direction: alternate, alternate;
  box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
}

.portfolio-button .button-content {
  font-family: "Metropolis Semibold", sans-serif;
  font-size: 12px;
  margin-top: 6px;
  padding-right: 10px;
}

.portfolio-button .button-graphic {
  min-height: 10px;
  min-width: 6px;
}

.navbar {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.075);
  color: #505050;
  display: flex;
  flex-direction: column;
  font-family: "Metropolis Regular", sans-serif;
  height: 70px;
  justify-content: center;
  left: 0;
  padding-left: 505px;
  position: fixed;
  right: -505px;
  top: 0;
  transform: translateX(0);
  transition: transform 0.5s;
  z-index: 1;
}

.links {
  align-items: center;
  display: flex;
}

.collapsed .navbar {
  transform: translateX(-435px);
}

.link {
  font-size: 15px;
  padding: 0 0 0 35px;
  transition: color 200ms;
  cursor: pointer;
  user-select: none;
}

.link:hover {
  color: #e54e40;
  font-weight: 500;
  transition: color 0.2s;
}

.section.top {
  max-height: 100vh;
  background-color: #ffffff;
}

.logo {
  position: fixed;
  top: 0px;
  right: 0px;
  background: #e54e40 url(/assets/svgs/logo.svg) no-repeat center center;
  background-size: 50px;
  color: #ffffff;
  height: 70px;
  width: 70px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  z-index: 4;
}

.section.top .splash {
  position: absolute;
  top: 0;
  right: 70px;
  left: 505px;
  bottom: 70px;
  background: url(/assets/imgs/splash_1.jpg) no-repeat center center;
  background-size: cover;
}

.section.top .header {
  position: relative;
  left: 50px;
  top: 50vh;
  color: #4d4d4f;
  font-size: 50px;
  font-family: "Ailerons", sans-serif;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.collapsed .portfolio-button {
  transform: translateX(-435px);
}

.scrollButton .down {
  position: fixed;
}

.scroll-button .scroll-up {
  position: fixed;
  width: 17.5px;
  left: calc(35px - 8.75px);
  top: 25px;
  z-index: 3;
  animation: bounce 2s infinite;
  opacity: 0;
  transition: opacity 0.2s;
  transition-delay: 0.5s;
  cursor: pointer;
  user-select: none;
}

.collapsed .scroll-up {
  opacity: 1;
}

.scroll-button .scroll-down {
  position: fixed;
  width: 17.5px;
  left: calc(35px - 8.75px);
  bottom: 25px;
  z-index: 3;
  animation: bounce-2 2s infinite;
  cursor: pointer;
  user-select: none;
}

.portfolio-button:hover .button-graphic,
.resume-button:hover .button-graphic,
.tagline-button:hover .button-graphic {
  animation: bounce-3 1s infinite;
}

.link-underscore {
  position: absolute;
  width: 30px;
  margin-top: 15px;
  margin-left: 35px;
  border: 0;
  transform: translateX(0);
  border-top: 3px solid #e54e40;
  opacity: 1;
  transition: opacity 250ms;
}

.enter-section-1 .link-underscore {
  margin-left: 35px;
}

.enter-section-2 .link-underscore {
  margin-left: calc(35px + 77.59px);
}

.enter-section-5 .link-underscore {
  margin-left: calc(35px + 77.59px + 105.84px);
}

.enter-section-6 .link-underscore {
  margin-left: calc(35px + 77.59px + 105.84px + 117.61px);
}

.scroll-indicator {
  position: fixed;
  width: 10px;
  left: 30px;
  top: calc(50vh - 61.65px);
  z-index: 3;
  opacity: 0;
  transition: opacity 0.2s;
}

.collapsed .scroll-indicator {
  opacity: 1;
}

.lightbox-effect .scroll-indicator {
  visibility: hidden;
}

.enter-section-1 .scroll-indicator .dot-1 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.enter-section-1 .scroll-indicator .dot-1 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-2 .scroll-indicator .dot-2 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-2 .scroll-indicator .dot-2 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-3 .scroll-indicator .dot-3 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-3 .scroll-indicator .dot-3 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-4 .scroll-indicator .dot-4 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-4 .scroll-indicator .dot-4 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-5 .scroll-indicator .dot-5 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-5 .scroll-indicator .dot-5 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-6 .scroll-indicator .dot-6 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-6 .scroll-indicator .dot-6 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.enter-section-7 .scroll-indicator .dot-7 {
  fill: #e54e40;
  transition: fill 0.2s;
}
.exit-section-7 .scroll-indicator .dot-7 {
  fill: #d1d3d4;
  transition: fill 0.2s;
}

.section.about-me {
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.075);
  display: flex;
  max-height: 100vh;
}

.section.about-me .left {
  display: flex;
  flex: 0 0;
}

.section.about-me .right {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 70px 0 0 70px;
}

.section.about-me .splash {
  flex: 1;
  min-width: 275px;
  background: url(/splash_2.jpg) no-repeat center center;
  background-size: cover;
}

.section.about-me .content {
  display: flex;
  padding-top: 70px;
}

.section.about-me .title {
  display: flex;
  flex-direction: column;
}

.section.about-me .title .header {
  font-family: 'Metropolis Regular';
  font-size: 37px;
  color: #505050;
}

.section.about-me .title .header.sub {
  color: #e54e40;
}

.section.about-me .title .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}

.section.about-me .half {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: relative;
}
.section.about-me .half:first-child {
  padding-left: 0;
}
.section.about-me .half:last-child {
  padding-right: 0;
}

.section.about-me .half .graphics {
  display: flex;
  height: 300px;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

.section.about-me .half .graphic {
  background: no-repeat center center;
  background-size: contain; 
  flex: 1;
}

.section.about-me .ui-ux .graphic.first {
  background-image: url(/UX_UI_1.svg);
}

.section.about-me .ui-ux .graphic.second {
  background-image: url(/VCD_1.svg);
}

.section.about-me .industrial .graphic.first {
  background-image: url(/Sketching_1.svg);
}

.section.about-me .industrial .graphic.second {
  background-image: url(/CAD_1.svg);
}

.section.about-me .half .caption {
  font-family: 'Metropolis Light';
  font-size: 15px;
  padding: 30px 30px;
  color: #505050;
  overflow-y: scroll;
}

.section.about-me .half .caption::-webkit-scrollbar {
  display: hidden;
}


.section.portfolio {
  height: 100vh;
  display: flex;
}

.section.portfolio .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
}

.section.portfolio .title {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
}

.section.portfolio .title .header {
  display: flex;
  font-family: "Metropolis Regular";
  font-size: 37px;
  color: #505050;
}

.section.portfolio .title .underscore {
  border-top: 4px solid #e54e40;
  margin-top: 40px;
  max-width: 100px;
  min-width: 100px;
}

.section.portfolio .tile-label-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 140px;
  bottom: 70px;
  padding: 0 0 0 70px;
  user-select: none;
}

.section.portfolio .tile-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Metropolis Semibold";
}

.section.portfolio .tile-label .label {
  position: absolute;
  font-family: "Metropolis Regular";
  color: #505050;
  font-size: 15px;
  opacity: 1;
  transform: translateX(0);
}

.section.portfolio .tile-label .caption {
  position: absolute;
  line-height: 35px;
  font-family: "Metropolis Semibold";
  color: #e54e40;
  font-size: 120px;
  opacity: 0;
  transform: translateX(400px);
  transition: all 0.25s;
}

.hovered .section.portfolio .tile-label.one .caption {
  transform: translateX(0);
  opacity: 0.1;
}

.section.portfolio .tiles-container {
  display: flex;
  flex-direction: row;
  background: #000;
  top: 70px;
  right: 70px;
  width: 100%;
  height: calc(100vh - 140px);
  overflow: hidden;
}

.tiles-container .project-tile {
  width: 25%;
  background: no-repeat center center;
  display: flex;
  cursor: pointer;
  user-select: none;
  min-width: 140px;
  transition: opacity 250ms;
}

.project-tile:hover {
  opacity: 0.5;
}

.project-tile.first {
  background-image: url(/322466-bullet-train-wallpaper.jpg);
}

.project-tile.second {
  background-image: url(/322466-bullet-train-wallpaper.jpg);
}

.project-tile.third {
  background-image: url(/322466-bullet-train-wallpaper.jpg);
}

.project-tile.fourth {
  background-image: url(/322466-bullet-train-wallpaper.jpg);
}